
#contenedor-login {

	width: 500px;
    height: 400px;
    text-align: center;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    transform: translateY(50%);

}

#contenedor {

	margin-top: 10%;

}

.espacio {

	margin-top: 5px;
    margin-bottom: 5px;

}

label.espacio {

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

#contenedor .btn-success {

    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin: 5px !important;
    width: 400px;

}

#contenedor .btn-info {

    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 400px;

}


#contenedor-login #contenedor .input-group {

    width: 400px !important;

}

#contenedor-registro {

	width: 450px;
    height: 600px;
    text-align: center;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    transform: translateY(30%);

}


.ubicacion {

    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

#mapid { 

    height: 600px;
    margin: 20px 50px;

}

.bg-light {

    background-color: #aeb1b3 !important;

}

.btn-outline-success {

    color: #17a2b8 !important;
    border-color: #17a2b8 !important;

}

.btn-outline-success:hover {

    background-color: #17a2b8 !important;
    color: #fff !important;

}

.formulario-perfil .btn-danger {

    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    float: right !important;
    width: 250px;

}

.formulario-contacto {

    margin: 50px;

}

.formulario-perfil {

    margin: 50px 50px 0px 50px;

}

.formulario-perfil .btn-success {

    width: 250px !important;

}

.contenido {

    margin: 0px 50px;

}

.contenido label {
    float: left;
}


#contenedor-registro #btnAceptar, #btnCancelar {

    width: 152px;
    margin-top: 5px;

}

#txtDescrip {

    height: 140px;

}

.registro {

    margin-top: 45px;

}

#txtarea_p {

    height: 120px;

}

#txtarea_e {

    height: 120px;

}

i.fas.fa-exclamation-triangle, i.fas.fa-times-circle, i.fas.fa-times {
   
    font-size: 70px;
    margin: 5px 8px;
    color: #e44040;

}

i.fas.fa-check-circle {

    font-size: 70px;
    margin: 5px 8px;
    color: #fff;

}

#negacion .modal-body p {

    text-align: right;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    font-size: 19px;

}

.modal-header {

    background-color: #dee2e6 !important;

}
